<div class="card create" >
    <div class="card-body card">
      <h2 class="card-title title">Create Post</h2>
      
      <span class="placeholder">Description</span>
      <input type="text" required>

      <span class="placeholder">Time and Date</span>
      <input type="text" required>

      <span class="placeholder">Location</span>
      <input type="text" required>

      <button type="button" class="post btn btn-danger">Post</button>

      <button type="button" class="delete btn btn-danger">Delete</button>
    </div>
  </div>
