<div class="container">
  <div class="card margin-small">
    <div class="card-header">
      Login Sheet
    </div>
    <div class="card-body">
      <form  id="loginForm" role="form" (ngSubmit)="login()">
        <div class="form-group">
          <label>E-mail</label>
          <input placeholder="Email" [(ngModel)]="user.email" name="email" type="text" class="form-control" required/>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input placeholder="Password" [(ngModel)]="user.password" name="password" type="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
    </div>
  </div>
  <div *ngIf="invalidCredentials" class="alert alert-danger margin-small" role="alert">
    Invalid Credentials
  </div>
</div>