.create{
    margin-top:150px;
    margin-left:200px;
}

.card{
    width:500px;
    height:450px;
}

.title{
    margin-top:15px;
}

.post{
    width:100px;
    margin-top:50px;
}

.delete{
    width:100px;
    margin-top:40px;
    margin-left:130px;
    margin-top:-38px;
}
.placeholder{
    margin-top:10px;
}