<div class="card create" >
        <div class="card-body card">
          <h2 class="card-title title">Create Student Account</h2>
          
          <span class="placeholder">First Name</span>
          <input type="text" required>

          <span class="placeholder">Last Name</span>
          <input type="text" required>
    
          <span class="placeholder">Address</span>
          <input type="text" required>
              
          <button type="button" class="post btn btn-danger">Post</button>
    
          <button type="button" class="delete btn btn-danger">Delete</button>
        </div>
      </div>
    