.button{
    margin-top:10px;
    margin-left:60px;
    width:200px;
}

h4{
    text-align: center;
    margin-top:150px;
    color:rgb(5, 4, 4);
}

h5{
    text-align: center;
    margin-top:30px;
    margin-left:40px;
    margin-right:40px;
    color:rgb(0, 0, 0);
}
 
.nav-link{
    font-size: 20px;
}

.flyers{
    height:600px;
    width:100px;
    
}

.gears{
    margin-left:150px;
    margin-top:100px;
    font-size:60px;
    color: red;

}

h3{
    margin-left:100px;
    margin-top:-50px;
    color: white;
}

.slide{
    margin-top:100px;
}

.face{
    font-size:40px;
    margin-left:670px;
}

.insta{
    font-size:40px;
}

.gearup1{
    width:300px;
    margin-top:90px;
    margin-left:50px;
}

.gearup2{
    width:300px;
    margin-left:400px;
    margin-bottom:-100px;
}

.gearup3{
    width:300px;
    margin-bottom:200px;
}
